{% extends "layout.html" %}

{% block mainContent %}
  <h1>About Us</h1>
  <p>We are Team ASA. Our hobbies include, eating, sleeping, and building killer websites.</p>
  <h2>Team Members</h2>
  <table>
      <tr>
          <td>
          <span id="lovelyelephant">Anthony Nichols</span>
          </br>
          <img src="http://i.imgur.com/S6bB8wr.png?1" width="200" height ="150" id="{{lovelyelephant}}-headshot">
          </td>
          <td>
          <span id="adventurousjackal">Stephen Hemenway</span>
          </br>
          <img src="http://i.imgur.com/S6bB8wr.png?1" width="200" height ="150" id="{{adventurousjackal}}-headshot"></li>
          <td>
          <span id="curiousalbatross">Anoj Ilanges</spam>
          </br>
          <img src="http://i.imgur.com/S6bB8wr.png?1" width="200" height ="150" id="{{curiousalbatross}}-headshot">
          </td>
      </tr>      
  </table>
{% endblock %}

