{% extends "layout.html" %}

{% block mainContent %}
  <h1>About Us</h1>
  <p>We are Team ASA. Our hobbies include, eating, sleeping, and building killer websites.</p>
  <h2>Team Members</h2>
  <span id="lovely elephant"><img src="http://i.imgur.com/S6bB8wr.png?1" width="200" height ="150"></span>
  <span id="adventurous jackal"><img src="http://i.imgur.com/S6bB8wr.png?1" width="200" height ="150"></span>
  <span id="curious albatross"><img src="http://i.imgur.com/S6bB8wr.png?1" width="200" height ="150"></span>
{% endblock %}
