{% extends "layout.html" %}

{% block mainContent %}

  <head><h1>About Us</h1></head>
  <Menu>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="/events">Events</a></li>
    <li><a id="new" href="/events/new">Create an Event</a></li>
  </ul>
  </menu>
  <p>We are Team ASA. Our hobbies include, eating, sleeping, and building killer websites.</p>
  <h2>Team Members</h2>
  <table>
      <tr>
          <td>
            <span id="lovelyelephant-name">Anthony Nichols</span>
            </br>
            <img src="http://i.imgur.com/S6bB8wr.png?1" width="200" height ="150" id="{{lovelyelephant}}-headshot">
          </td>
          <td>
            <span id="adventurousjackal-name">Stephen Hemenway</span>
            </br>
            <img src="http://upload.wikimedia.org/wikipedia/commons/3/31/Highland_Cattle_bull.jpg" width="200" height ="150" id="{{adventurousjackal}}-headshot">
          </td>
          <td>
            <span id="curiousalbatross-name">Anoj Ilanges</spam>
            </br>
            <img src="http://i.imgur.com/S6bB8wr.png?1" width="200" height ="150" id="{{curiousalbatross}}-headshot">
          </td>
      </tr>      
  </table>
{% endblock %}

