{% extends "layout.html" %}

{% block mainContent %}
 <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="/events">Events</a></li>
    <li><a id="new" href="/events/new">Create an Event</a></li>
  </ul> 
  <div>
    {% include "fragments/events-list.html" %}
  </div>
  <div>
  </div>

{% endblock %}

{% block footer %}
  <footer>
    The time is now {{time}}.
    </br>
    <a href="/">Homepage</a>.
    <a href="/about">About us</a>.
  </footer>
{% endblock %}
