{% extends "layout.html" %}

{% block header %}

  <header>
    <img src="http://i.imgur.com/h1UMGkx.png" align="left" width="100" height="50" id="logo">
    <img src="http://i.imgur.com/h1UMGkx.png" align="right" width="100" height="50" id="logo">
    <h1>EventDim</h1>

  </header>
{% endblock %}

{% block mainContent %}
    <ul>
    <li style="padding:0px 20px 0px 20px;"><a href="/">Home</a></li>
    <li style="padding:0px 20px 0px 20px;"><a href="/about">About us</a></li>
    <li style="padding:0px 20px 0px 20px;"><a href="/events">Events</a></li>
    <li style="padding:0px 20px 0px 20px;"><a id="new" href="/events/new">Create an Event</a></li>
  </ul>
  <div>
    {% include "fragments/events-list.html" %}
  </div>
  <!-- Load the Content Experiment JavaScript API client for the experiment -->
<script src="//www.google-analytics.com/cx/api.js?experiment=w_AqhdHtSTO6EUjP7xWAWg"></script>
 
<!-- Load the JQuery library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
 
<script>
// Define JavaScript for each page variation of this experiment.
var pageVariations = [
  function() {},  // Original: Do nothing. This will render the default HTML.
  function() {    // Variation 1: add RSVP text
    $( 'li.event' ).prepend( 'RSVP ' );
  }
];
 
// Wait for the DOM to load, then execute the view for the chosen variation.
$(document).ready(function(){
  // Ask Google Analytics which variation to show the user.
  var chosenVariation = cxApi.chooseVariation('w_AqhdHtSTO6EUjP7xWAWg');
  console.log('chosenVariation =', chosenVariation);
 
  // Execute the chosen view
  pageVariations[chosenVariation]();
  
}
);
</script>
{% endblock %}